@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h4>Add a new restaurant</h4>
<p><strong>NOTE:</strong> You need to have at least one cuisine category before you can add a restaurant!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Cuisines") to create a cuisine category.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input type="submit" value="Add new restaurant">
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>
